---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16GhfsE7JwniA027pkrEBaL2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16GhfsE7JwniA027pkrEBaL2",
          "created": 1435028532,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16GhfsE7JwniA0275TcjmIhk",
              "object": "charge",
              "created": 1435028532,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 500,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16GhfqE7JwniA027tByk7SYK",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2017,
                "fingerprint": "VBjjFK12L1YtJfTB",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": null
              },
              "captured": true,
              "balance_transaction": "txn_16GhfsE7JwniA027VoLfKSdT",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": null,
              "invoice": null,
              "description": "kevin@example.com",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16GhfsE7JwniA0275TcjmIhk/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6TezrPwtwVTyQ9",
          "api_version": "2015-02-18"
        }
  recorded_at: Tue, 23 Jun 2015 03:22:48 GMT
recorded_with: VCR 2.9.3
