---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=500&currency=usd&source=tok_166mc1E7JwniA027EnVshxX1&description=Donation%20from%20nicole_abernathy%40tillmansenger.biz.
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_166mc2E7JwniA027t1TbHAhu"
          }
        }
  recorded_at: Tue, 26 May 2015 18:17:15 GMT
recorded_with: VCR 2.9.3
