---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=500&currency=usd&source=tok_163KYnE7JwniA027LyhxR5tH&description=Donation%20from%20destin_berge%40wintheiser.biz.
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_163KYoE7JwniA027tjIYkXZa"
          }
        }
  recorded_at: Sun, 17 May 2015 05:43:43 GMT
recorded_with: VCR 2.9.3
