---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=500&currency=usd&source=tok_166mbzE7JwniA027yINN9tfS&description=Donation%20from%20isabell_monahan%40satterfield.net.
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_166mc0E7JwniA027XF1SD1vO"
          }
        }
  recorded_at: Tue, 26 May 2015 18:17:13 GMT
recorded_with: VCR 2.9.3
