---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=500&currency=usd&source=tok_163KYlE7JwniA027zyI2BYDP&description=Donation%20from%20serena%40bauch.name.
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_163KYmE7JwniA027A0gUgyFb"
          }
        }
  recorded_at: Sun, 17 May 2015 05:43:41 GMT
recorded_with: VCR 2.9.3
